Repository 1Consumption/IDIllust, pull requests merged in 2020-11, with the labels that each got.

#40 Thumbnail netwokring
  iOS/IDIllust/.swiftlint.yml
  iOS/IDIllust/IDIllust.xcodeproj/project.pbxproj
  iOS/IDIllust/IDIllust/CustomizeView/ComponentCollectionView/ComponentCollectionView.swift
  iOS/IDIllust/IDIllust/CustomizeView/ComponentCollectionView/ComponentCollectionViewDataSource.swift
  iOS/IDIllust/IDIllust/CustomizeView/ComponentCollectionView/ComponentCollectionViewDelegate.swift
  iOS/IDIllust/IDIllust/CustomizeView/ComponentCollectionView/ComponentCollectionViewEvent.swift
  iOS/IDIllust/IDIllust/CustomizeView/CustomizeViewController.swift
  iOS/IDIllust/IDIllust/CustomizeView/SelectionManager.swift
  iOS/IDIllust/IDIllust/CustomizeView/UseCase/ThumbnailUseCase.swift
  iOS/IDIllust/IDIllust/Model/CustomizeView/CategoryComponentManager.swift
  iOS/IDIllust/IDIllust/Model/CustomizeView/Component.swift
  iOS/IDIllust/IDIllust/Model/CustomizeView/Thumbnail.swift
  iOS/IDIllust/IDIllust/Network/EndPoint.swift
  iOS/IDIllust/IDIllust/Protocols/RetrieveModelFromServer.swift
  iOS/IDIllust/IDIllust/StoryBoard/Base.lproj/Main.storyboard
  iOS/IDIllust/IDIllustTests/CategoryComponentManagerTests.swift
  iOS/IDIllust/IDIllustTests/EndPointTests.swift
  iOS/IDIllust/IDIllustTests/Extension/Components.swift
  iOS/IDIllust/IDIllustTests/Extension/CurrentSelection.swift
  iOS/IDIllust/IDIllustTests/Extension/Thumbnail.swift
  iOS/IDIllust/IDIllustTests/SelectionManagerTests.swift
  iOS/IDIllust/IDIllustTests/UseCase/ComponentsUseCaseTests.swift
  iOS/IDIllust/IDIllustTests/UseCase/ThumbnailUseCaseTests.swift
Labels: feature, iOS

#42 Refactor thumbnail networking
  iOS/IDIllust/IDIllust.xcodeproj/project.pbxproj
  iOS/IDIllust/IDIllust/CustomizeView/ComponentCollectionView/ComponentCollectionView.swift
  iOS/IDIllust/IDIllust/CustomizeView/ComponentCollectionView/ComponentCollectionViewDelegate.swift
  iOS/IDIllust/IDIllust/CustomizeView/ComponentCollectionView/ComponentCollectionViewEvent.swift
  iOS/IDIllust/IDIllust/CustomizeView/CustomizeViewController.swift
  iOS/IDIllust/IDIllust/CustomizeView/SelectionManager.swift
  iOS/IDIllust/IDIllust/CustomizeView/UseCase/ComponentsUseCase.swift
  iOS/IDIllust/IDIllust/CustomizeView/UseCase/ThumbnailUseCase.swift
  iOS/IDIllust/IDIllust/Network/EndPoint.swift
Labels: iOS, refactor

#43 Modify component request
  BE/src/main/java/com/id/illust/controller/ColorController.java
  BE/src/main/java/com/id/illust/entity/Category.java
  BE/src/main/java/com/id/illust/entity/Component.java
Labels: BE, feature

#52 ColorSelectView networking
  iOS/IDIllust/IDIllust/ColorSelectView/ColorSelectViewController.swift
  iOS/IDIllust/IDIllust/CustomizeView/CustomizeViewController.swift
  iOS/IDIllust/IDIllust/CustomizeView/SelectionManager.swift
  iOS/IDIllust/IDIllust/CustomizeView/UseCase/ThumbnailUseCase.swift
  iOS/IDIllust/IDIllust/Model/CustomizeView/Component.swift
  iOS/IDIllust/IDIllust/Network/EndPoint.swift
  iOS/IDIllust/IDIllustTests/CategoryComponentManagerTests.swift
  iOS/IDIllust/IDIllustTests/EndPointTests.swift
  iOS/IDIllust/IDIllustTests/Extension/CurrentSelection.swift
  iOS/IDIllust/IDIllustTests/SelectionManagerTests.swift
  iOS/IDIllust/IDIllustTests/UseCase/ComponentsUseCaseTests.swift
  iOS/IDIllust/IDIllustTests/UseCase/ThumbnailUseCaseTests.swift
Labels: feature, iOS

#58 Refactor colorSelectViewNetworking branch
  iOS/IDIllust/IDIllust.xcodeproj/project.pbxproj
  iOS/IDIllust/IDIllust/ColorSelectView/ColorSelectViewController.swift
  iOS/IDIllust/IDIllust/CustomizeView/CustomizeViewController.swift
  iOS/IDIllust/IDIllust/CustomizeView/SelectionManager.swift
  iOS/IDIllust/IDIllust/Extensions/CGPoint.swift
  iOS/IDIllust/IDIllust/Model/CustomizeView/CategoryComponentManager.swift
  iOS/IDIllust/IDIllustTests/CategoryComponentManagerTests.swift
  iOS/IDIllust/IDIllustTests/SelectionManagerTests.swift
Labels: iOS, refactor

#64 Complete storeView feature implement
  iOS/IDIllust/IDIllust.xcodeproj/project.pbxproj
  iOS/IDIllust/IDIllust/CustomizeView/CustomizeViewController.swift
  iOS/IDIllust/IDIllust/CustomizeView/SelectionManager.swift
  iOS/IDIllust/IDIllust/Extensions/UIAlertController.swift
  iOS/IDIllust/IDIllust/Info.plist
  iOS/IDIllust/IDIllust/Model/CustomizeView/Category.swift
  iOS/IDIllust/IDIllust/Model/CustomizeView/CategoryComponentManager.swift
  iOS/IDIllust/IDIllust/Model/Dynamic.swift
  iOS/IDIllust/IDIllust/StoreView/StoreViewController.swift
  iOS/IDIllust/IDIllust/StoryBoard/Base.lproj/Main.storyboard
  iOS/IDIllust/IDIllustTests/Model/CategoriesTest.swift
  iOS/IDIllust/IDIllustTests/Model/CategoryComponentManagerTests.swift
  iOS/IDIllust/IDIllustTests/Model/SelectionManagerTests.swift
  iOS/IDIllust/IDIllustTests/Model/TextLengthViewModelTests.swift
  iOS/IDIllust/IDIllustTests/Network/EndPointTests.swift
  iOS/IDIllust/IDIllustTests/Network/MockNetworkManagers.swift
  iOS/IDIllust/IDIllustTests/Network/NetworkTests.swift
Labels: feature, iOS

#81 Refactoring
  iOS/IDIllust/IDIllust/CustomizeView/CustomizeViewController.swift
  iOS/IDIllust/IDIllust/CustomizeView/SelectionManager.swift
  iOS/IDIllust/IDIllust/Extensions/UserDefaults.swift
  iOS/IDIllust/IDIllust/SaveView/SaveViewController.swift
  iOS/IDIllust/IDIllust/StoryBoard/Base.lproj/Main.storyboard
  iOS/IDIllust/IDIllust/TutorialView/TutorialViewController.swift
  iOS/IDIllust/IDIllust/TutorialView/TutorialViewModel.swift
  iOS/IDIllust/IDIllustTests/Model/TutorialViewModelTest.swift
  iOS/IDIllust/IDIllustTests/UserDefaultsExtensionTests.swift
Labels: iOS, refactor

#82 Add docs BE
  BE/README.md
Labels: BE, documentation
