Repository 1Consumption/IDIllust, pull requests merged in 2020-10, with the labels that each got.

#4 Customize Scene UI 제작
  iOS/IDIllust/.swiftlint.yml
  iOS/IDIllust/IDIllust.xcodeproj/project.pbxproj
  iOS/IDIllust/IDIllust/AppDelegate.swift
  iOS/IDIllust/IDIllust/Assets.xcassets/Colors/Contents.json
  iOS/IDIllust/IDIllust/Assets.xcassets/Colors/DivisionColor.colorset/Contents.json
  iOS/IDIllust/IDIllust/Assets.xcassets/Colors/SelectedColor.colorset/Contents.json
  iOS/IDIllust/IDIllust/Assets.xcassets/Colors/TabBarColor.colorset/Contents.json
  iOS/IDIllust/IDIllust/Assets.xcassets/ic_category_1_hair.imageset/Contents.json
  iOS/IDIllust/IDIllust/Assets.xcassets/ic_category_1_hair.imageset/ic_category_1_hair.png
  iOS/IDIllust/IDIllust/Assets.xcassets/ic_hair_1.imageset/Contents.json
  iOS/IDIllust/IDIllust/Assets.xcassets/ic_hair_1.imageset/ic_hair_1.png
  iOS/IDIllust/IDIllust/Assets.xcassets/sample.imageset/Contents.json
  iOS/IDIllust/IDIllust/Assets.xcassets/sample.imageset/KakaoTalk_Photo_2020-09-04-22-48-54.png
  iOS/IDIllust/IDIllust/Assets.xcassets/thumb_skin_2.imageset/Contents.json
  iOS/IDIllust/IDIllust/Assets.xcassets/thumb_skin_2.imageset/thumb_skin_2.png
  iOS/IDIllust/IDIllust/CustomizeView/CategoryCollectionView/CategoryCollectionViewCell.swift
  iOS/IDIllust/IDIllust/CustomizeView/CategoryCollectionView/CategoryCollectionViewDataSource.swift
  iOS/IDIllust/IDIllust/CustomizeView/ComponentCollectionView/ComponentCollectionView.swift
  iOS/IDIllust/IDIllust/CustomizeView/ComponentCollectionView/ComponentCollectionViewCell.swift
  iOS/IDIllust/IDIllust/CustomizeView/ComponentCollectionView/ComponentCollectionViewDataSource.swift
  iOS/IDIllust/IDIllust/CustomizeView/CustomizeViewController.swift
  iOS/IDIllust/IDIllust/StoryBoard/Base.lproj/Main.storyboard
  iOS/IDIllust/Podfile.lock
Labels: enhancement, iOS

#5 Color select view UI 구성
  iOS/IDIllust/IDIllust.xcodeproj/project.pbxproj
  iOS/IDIllust/IDIllust/ColorSelectView/ColorSelectCollectionViewCell.swift
  iOS/IDIllust/IDIllust/ColorSelectView/ColorSelectViewController.swift
  iOS/IDIllust/IDIllust/CustomView/CornerRadiusView.swift
  iOS/IDIllust/IDIllust/CustomizeView/ComponentCollectionView/ComponentCollectionView.swift
  iOS/IDIllust/IDIllust/CustomizeView/CustomizeViewController.swift
  iOS/IDIllust/IDIllust/Extensions/UIDevice.swift
  iOS/IDIllust/IDIllust/StoryBoard/Base.lproj/Main.storyboard
Labels: feature, iOS

#13 EntryView networking
  iOS/IDIllust/.swiftlint.yml
  iOS/IDIllust/IDIllust.xcodeproj/project.pbxproj
  iOS/IDIllust/IDIllust.xcodeproj/xcshareddata/xcschemes/IDIllust.xcscheme
  iOS/IDIllust/IDIllust.xcworkspace/xcshareddata/WorkspaceSettings.xcsettings
  iOS/IDIllust/IDIllust/EntryView/EntryImageUseCase.swift
  iOS/IDIllust/IDIllust/EntryView/EntryViewController.swift
  iOS/IDIllust/IDIllust/Errors/NetworkError.swift
  iOS/IDIllust/IDIllust/Errors/UseCaseError.swift
  iOS/IDIllust/IDIllust/Model/EntrtyView/EntryImage.swift
  iOS/IDIllust/IDIllust/Network/EndPoint.swift
  iOS/IDIllust/IDIllust/Network/HTTPHeaders.swift
  iOS/IDIllust/IDIllust/Network/HTTPMethod.swift
  iOS/IDIllust/IDIllust/Network/NetworkManageable.swift
  iOS/IDIllust/IDIllust/Network/NetworkManager.swift
  iOS/IDIllust/IDIllust/StoryBoard/Base.lproj/Main.storyboard
  iOS/IDIllust/IDIllustTests/EndPoinTests.swift
  iOS/IDIllust/IDIllustTests/EntryImageUseCaseTests.swift
  iOS/IDIllust/IDIllustTests/IDIllustTests.swift
  iOS/IDIllust/IDIllustTests/NetworkTests.swift
  iOS/IDIllust/IDIllustUITests/IDIllustUITests.swift
  iOS/IDIllust/IDIllustUITests/Info.plist
  iOS/IDIllust/Podfile
  iOS/IDIllust/Podfile.lock
Labels: iOS

#17 Category 요소 네트워킹
  iOS/IDIllust/IDIllust.xcodeproj/project.pbxproj
  iOS/IDIllust/IDIllust/ColorSelectView/ColorSelectViewController.swift
  iOS/IDIllust/IDIllust/CustomizeView/CategoryCollectionView/CategoryCollectionViewDataSource.swift
  iOS/IDIllust/IDIllust/CustomizeView/CustomizeViewController.swift
  iOS/IDIllust/IDIllust/CustomizeView/UseCase/CategoriesUseCase.swift
  iOS/IDIllust/IDIllust/CustomizeView/UseCase/ComponentsUseCase.swift
  iOS/IDIllust/IDIllust/EntryView/EntryImageUseCase.swift
  iOS/IDIllust/IDIllust/Extensions/UICollectionView.swift
  iOS/IDIllust/IDIllust/Model/CustomizeView/Category.swift
  iOS/IDIllust/IDIllust/Model/CustomizeView/Component.swift
  iOS/IDIllust/IDIllust/Network/EndPoint.swift
  iOS/IDIllust/IDIllust/Protocols/RetrieveModelFromServer.swift
  iOS/IDIllust/IDIllust/StoryBoard/Base.lproj/Main.storyboard
  iOS/IDIllust/IDIllustTests/ComponentsTest.swift
  iOS/IDIllust/IDIllustTests/EndPoinTests.swift
  iOS/IDIllust/IDIllustTests/EntryImageUseCaseTests.swift
  iOS/IDIllust/IDIllustTests/MockNetworkManagers.swift
  iOS/IDIllust/IDIllustTests/Protocol/RetrieveModelFromServerTests.swift
  iOS/IDIllust/IDIllustTests/UseCase/CategoryUseCaseTests.swift
  iOS/IDIllust/IDIllustTests/UseCase/ComponentsUseCaseTests.swift
  iOS/IDIllust/IDIllustTests/UseCase/EntryImageUseCaseTests.swift
Labels: feature, iOS

#20 Component default 요청 추가
  BE/src/main/java/com/id/illust/controller/ComponentController.java
  BE/src/main/java/com/id/illust/controller/EntryController.java
  BE/src/main/java/com/id/illust/service/ComponentService.java
Labels: BE, feature

#24 Components 네트워킹
  iOS/IDIllust/IDIllust.xcodeproj/project.pbxproj
  iOS/IDIllust/IDIllust/CustomizeView/CategoryCollectionView/CategoryCollectionViewDataSource.swift
  iOS/IDIllust/IDIllust/CustomizeView/ComponentCollectionView/ComponentCollectionView.swift
  iOS/IDIllust/IDIllust/CustomizeView/ComponentCollectionView/ComponentCollectionViewCell.swift
  iOS/IDIllust/IDIllust/CustomizeView/ComponentCollectionView/ComponentCollectionViewDataSource.swift
  iOS/IDIllust/IDIllust/CustomizeView/CustomizeViewController.swift
  iOS/IDIllust/IDIllust/CustomizeView/UseCase/ComponentsUseCase.swift
  iOS/IDIllust/IDIllust/Model/CustomizeView/Category.swift
  iOS/IDIllust/IDIllust/Model/CustomizeView/CategoryComponentManager.swift
  iOS/IDIllust/IDIllust/Model/CustomizeView/Component.swift
  iOS/IDIllust/IDIllustTests/CategoryComponentManagerTests.swift
  iOS/IDIllust/IDIllustTests/ComponentsTests.swift
Labels: feature, iOS

#26 Reflect components networking review
  iOS/IDIllust/IDIllust/ColorSelectView/ColorSelectViewController.swift
  iOS/IDIllust/IDIllust/CustomizeView/ComponentCollectionView/ComponentCollectionView.swift
  iOS/IDIllust/IDIllust/CustomizeView/ComponentCollectionView/ComponentCollectionViewCell.swift
  iOS/IDIllust/IDIllust/CustomizeView/CustomizeViewController.swift
  iOS/IDIllust/IDIllust/EntryView/EntryViewController.swift
  iOS/IDIllust/IDIllust/Model/CustomizeView/Category.swift
  iOS/IDIllust/IDIllust/Model/CustomizeView/CategoryComponentManager.swift
  iOS/IDIllust/IDIllust/Model/CustomizeView/Component.swift
  iOS/IDIllust/IDIllust/Network/EndPoint.swift
  iOS/IDIllust/IDIllust/Network/HTTPHeaders.swift
Labels: iOS, refactor

#30 Model manageable protocol 적용
  iOS/IDIllust/IDIllust.xcodeproj/project.pbxproj
  iOS/IDIllust/IDIllust/CustomizeView/CategoryCollectionView/CategoryCollectionViewDataSource.swift
  iOS/IDIllust/IDIllust/CustomizeView/ComponentCollectionView/ComponentCollectionViewDataSource.swift
  iOS/IDIllust/IDIllust/CustomizeView/CustomizeViewController.swift
  iOS/IDIllust/IDIllust/Model/ColorSelectView/ComponentColor.swift
  iOS/IDIllust/IDIllust/Model/CustomizeView/Category.swift
  iOS/IDIllust/IDIllust/Model/CustomizeView/CategoryComponentManager.swift
  iOS/IDIllust/IDIllust/Model/CustomizeView/Component.swift
  iOS/IDIllust/IDIllust/Protocols/ModelManageable.swift
  iOS/IDIllust/IDIllustTests/CategoryComponentManagerTests.swift
  iOS/IDIllust/IDIllustTests/Extension/Categories.swift
  iOS/IDIllust/IDIllustTests/Extension/ComponentColors.swift
  iOS/IDIllust/IDIllustTests/Extension/Components.swift
  iOS/IDIllust/IDIllustTests/Protocol/ModelManageableTests.swift
  iOS/IDIllust/IDIllustTests/UseCase/CategoryUseCaseTests.swift
  iOS/IDIllust/IDIllustTests/UseCase/ComponentsUseCaseTests.swift
Labels: feature, iOS

#31 Refactor
  iOS/IDIllust/IDIllust.xcodeproj/project.pbxproj
  iOS/IDIllust/IDIllust/CustomizeView/CategoryCollectionView/CategoryCollectionViewCell.swift
  iOS/IDIllust/IDIllust/CustomizeView/CategoryCollectionView/CategoryCollectionViewDataSource.swift
  iOS/IDIllust/IDIllust/CustomizeView/ComponentCollectionView/ComponentCollectionViewDataSource.swift
  iOS/IDIllust/IDIllust/CustomizeView/CustomizeViewController.swift
  iOS/IDIllust/IDIllust/Extensions/CGPoint.swift
  iOS/IDIllust/IDIllust/Model/ColorSelectView/ComponentColor.swift
  iOS/IDIllust/IDIllust/Model/CustomizeView/CategoryComponentManager.swift
  iOS/IDIllust/IDIllust/Model/CustomizeView/Component.swift
  iOS/IDIllust/IDIllust/Protocols/ModelManageable.swift
Labels: iOS, refactor
